* {
  &,
  &:before,
  &:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}
html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: $font-overpass;
}

body {
  background: $Very-Dar-Blue;
}
